In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df.groupby(["Tugger N", "Buffer"]).agg(Idle_1=pd.NamedAgg(column="Idle_time_1", aggfunc=lambda x: max(x)/60),
                                          Idle_2=pd.NamedAgg(column="Idle_time_2", aggfunc=lambda x: max(x)/60),
                                          Idle_3=pd.NamedAgg(column="Idle_time_3", aggfunc=lambda x: max(x)/60),
                                          Idle_4=pd.NamedAgg(column="Idle_time_4", aggfunc=lambda x: max(x)/60),
                                          Idle_5=pd.NamedAgg(column="Idle_time_5", aggfunc=lambda x: max(x)/60),
                                       Sat_1 = pd.NamedAgg(column="Saturation_1", aggfunc=lambda x: sum(x)/len(x)*100),
                                       Sat_2 = pd.NamedAgg(column="Saturation_2", aggfunc=lambda x: sum(x)/len(x)*100),
                            )

                              Idle_1      Idle_2      Idle_3      Idle_4  \
Tugger N Buffer
1        [3, 3, 3, 3, 3]  218.066667  267.483333  270.516667  725.950000
         [3, 3, 3, 4, 5]  220.516667  261.100000  311.033333  711.600000
         [5, 5, 5, 5, 5]  130.183333  245.566667  275.733333  840.000000
2        [3, 3, 3, 3, 3]   16.650000   76.733333   62.683333  296.000000
         [3, 3, 3, 4, 5]  165.000000  249.000000  204.000000  228.000000
         [5, 5, 5, 5, 5]  107.050000  206.083333  119.366667  228.916667
3        [3, 3, 3, 3, 3]   66.800000   76.833333   61.533333  132.000000
         [3, 3, 3, 4, 5]   44.066667   76.500000   74.883333  132.000000
         [5, 5, 5, 5, 5]    0.000000   10.483333    0.000000   57.483333
4        [3, 3, 3, 3, 3]   44.966667   62.400000   36.866667   79.533333
         [3, 3, 3, 4, 5]   38.950000   52.150000   56.900000   47.833333
         [5, 5, 5, 5, 5]    0.000000   19.283333    0.000000   32.800000
5        [3, 3, 3, 3, 3]   14.350000   30.816667   19.966667   40.216667
         [3, 3, 3, 4, 5]   42.000000   63.666667   46.850000   50.016667
         [5, 5, 5, 5, 5]    0.000000   16.866667    0.000000   25.950000
6        [3, 3, 3, 3, 3]   11.233333   25.966667    0.000000   25.516667
         [3, 3, 3, 4, 5]   15.666667   34.600000   18.083333   39.200000
         [5, 5, 5, 5, 5]    0.000000   11.783333    0.000000   17.850000
7        [3, 3, 3, 3, 3]   21.450000   38.216667   13.016667   43.916667
         [3, 3, 3, 4, 5]   24.483333   51.716667   39.233333   38.483333
         [5, 5, 5, 5, 5]    0.000000   23.866667    0.000000   36.750000

                              Idle_5      Sat_1      Sat_2
Tugger N Buffer
1        [3, 3, 3, 3, 3]  924.000000  30.621528   0.000000
         [3, 3, 3, 4, 5]  897.000000  30.835069   0.000000
         [5, 5, 5, 5, 5]  897.000000  30.692708   0.000000
2        [3, 3, 3, 3, 3]  483.000000  35.270833  30.559028
         [3, 3, 3, 4, 5]  285.000000  35.506944  34.901042
         [5, 5, 5, 5, 5]  344.166667  34.569444  34.161458
3        [3, 3, 3, 3, 3]  294.000000  70.651042  38.378472
         [3, 3, 3, 4, 5]  231.000000  68.656250  36.371528
         [5, 5, 5, 5, 5]  285.000000  71.006944  39.723958
4        [3, 3, 3, 3, 3]   97.300000  72.836806  72.267361
         [3, 3, 3, 4, 5]   61.100000  74.223958  72.545139
         [5, 5, 5, 5, 5]   66.283333  72.144097  72.600694
5        [3, 3, 3, 3, 3]   69.983333  90.595486  85.451389
         [3, 3, 3, 4, 5]   81.250000  90.883681  85.555556
         [5, 5, 5, 5, 5]   59.166667  84.126736  89.652778
6        [3, 3, 3, 3, 3]   70.616667  91.946181  91.407986
         [3, 3, 3, 4, 5]   53.783333  92.696181  91.920139
         [5, 5, 5, 5, 5]   77.366667  92.192708  91.416667
7        [3, 3, 3, 3, 3]   66.300000  92.442708  92.116319
         [3, 3, 3, 4, 5]   51.066667  91.802083  91.154514
         [5, 5, 5, 5, 5]   63.216667  92.246528  91.887153

In [47]:
df

,Time,Buffer,Tugger N,Tugger Capacity,Prod_1,UL_in_buffer_1,Idle_time_1,Prod_2,UL_in_buffer_2,Idle_time_2,...,UL_in_buffer_3,Idle_time_3,Prod_4,UL_in_buffer_4,Idle_time_4,Prod_5,UL_in_buffer_5,Idle_time_5,Saturation_1,Saturation_2
0,0,"[3, 3, 3, 3, 3]",1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,False
1,1,"[3, 3, 3, 3, 3]",1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,False
2,2,"[3, 3, 3, 3, 3]",1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,False
3,3,"[3, 3, 3, 3, 3]",1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,False
4,4,"[3, 3, 3, 3, 3]",1,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209595,57595,"[5, 5, 5, 5, 5]",7,4,63,0,0,104,1,1432,...,0,0,76,0,2205,99,0,3793,True,True
1209596,57596,"[5, 5, 5, 5, 5]",7,4,63,0,0,104,1,1432,...,0,0,76,0,2205,99,0,3793,True,True
1209597,57597,"[5, 5, 5, 5, 5]",7,4,63,0,0,104,1,1432,...,0,0,76,0,2205,99,0,3793,True,True
1209598,57598,"[5, 5, 5, 5, 5]",7,4,63,0,0,104,1,1432,...,0,0,76,0,2205,99,0,3793,True,True
1209599,57599,"[5, 5, 5, 5, 5]",7,4,64,1,0,104,1,1432,...,0,0,76,0,2205,99,0,3793,True,True